/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.home-carousel{
    background:url(../img/dutchcloudmeetupgrid.jpg);
}

.bar.background-image-fixed-2{
    background:url(../img/dutchcloudmeetupgrid.jpg) important;
}

.app_message_error{
    color:#FF9494;
}

.team-name-picture{
    max-width:150px;
    border-radius: 50%;
}

.sponsors-name-picture{
    max-width: 200px;
}

#team-row, #sponsors-row{
    padding-bottom:25px;
}