<div class="container" id="team">

    <div class="row">
        <div class="col-md-12">

            <section>

                <div class="team-content">
                    {{ .Content }}
                </div>
                


    {{ if isset .Site.Params "team" }}
    {{ if .Site.Params.team.enable }}
    {{ if gt (len .Site.Data.team) 0 }}
    <div class="container">


            {{ range .Site.Data.team }}
            <hr>
        <div class="row" id="team-row">
            <div class="col-md-2 col-sm-6">
                <div class="">
                    <img class="team-name-picture" alt="" src="{{ .avatar | absURL }}">
                </div>
            </div>
            <div class="col-md-8 col-sm-6">
                    <h5>{{ .name }}</h5>
                    <p>{{ .position }}</p>
                    <p>{{ .text | markdownify }}</p>

                    {{ if .blog }}
                    <a href="{{ .blog }}" target="_blank" style="opacity: 1;"><i class='fab fa-2x fa-edge'></i></a>
                    {{end}}

                    {{ if .linkedin }}
                    <a href="{{ .linkedin }}" target="_blank" style="opacity: 1;"><i class='fab fa-2x fa-linkedin'></i></a>
                    {{end}}

                    {{ if .twitter }}
                    <a href="{{ .twitter }}" target="_blank" style="opacity: 1;"><i class='fab fa-2x fa-twitter'></i></a>
                    {{end}}

            </div>
        </div>
            {{ end }}

    </div>

    <!-- /.bar -->
    {{ end }}
    {{ end }}
    {{ end }}

    </section>  
    </div>  
    </div>
    <!-- /.row -->
</div>

{{ partial "map.html" . }}